<a
        class="gallery-item"
        data-index="{{idx}}"
        data-src="./images/pre-wedding-date/{{filename}}"
        data-sub-html="<h4> {{filename}}  </h4>"
>
    <img
            alt="{{filename}}"
            class="img-responsive"
            src="./images/pre-wedding-date/{{filename}}"
    />
</a>